.mywork{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.mywork-title{
    position: relative;
}

.mywork-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}

.mywork-title img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0.8;
}

/* GRID */
.mywork-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

/* CARD */
.work-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* IMAGE */
.work-card img{
    box-sizing: border-box; 
    width: 419px; 
    height: 280px; 
    transition: 0.3s; 
    cursor: pointer;
}

/* HOVER EFFECT */
.work-card img:hover{
    transform: scale(1.05);
    border: 4px solid white;
}

/* PROJECT NAME */
.work-card h3{
    margin-top: 18px;
    font-size: 24px;
    font-weight: 500;
    color: white;
    transition: 0.3s;
}

.work-card:hover h3{
    color: #ff00ff;
}

/* REMOVE LINK UNDERLINE */
.work-card a{
    text-decoration: none;
}

