.navbar img {
    width: 120px;
    height: 80px;
    object-fit: contain;  /* image stretch nahi hogi */
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}

.nav-menu li {
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}

/* Hover */
.nav-menu li:hover {
    background: linear-gradient(270deg, #FF6FD8, #FF8C00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Active (clicked wala permanent) */
.nav-menu li.active {
    background: linear-gradient(270deg, #FF6FD8, #FF8C00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Underline */
.nav-menu li::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background: linear-gradient(270deg, #FF6FD8, #FF8C00);
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.nav-menu li:hover::after,

.nav-menu li.active::after {
    width: 100%;
}
.nav-menu a {
    text-decoration: none;
    color: inherit;
}

/* ensure li styling still works */
.nav-menu li {
    position: relative;
}

.nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
    color: white;
    display: inline-block;
}

.nav-connect:hover{
    transform: scale(1.05);
}

html {
  scroll-behavior: smooth;
}
.nav-mob-close{
    display: none;
}
.nav-mob-open{
    display: none;
}
@media(max-width: 768px){
    .navbar{
        margin: 20px 50px;
    }
    .nav-connect{
        display: none;
    }
    .nav-mob-open{
        display: block;
        position: fixed;
        right: 30px;
    }
    .nav-mob-close{
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 30px;
    }
    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1f0016;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }
    .nav-menu li{
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }
}